{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Home</title>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'part/home.css' %}">
{% endblock %}

{% block content %}
<div class="container">

    <!-- 1. Выбор марки -->
    {% if brands %}
    <div class="section">
        <h2>Выберите марку</h2>
        <div class="grid">
            {% for brand in brands %}
            <div class="card brand-card">
                    <a href="?brand={{ brand.slug }}" class="brand-link">
                        <div class="image-box">
                            <img src="{{ brand.picture.url }}" alt="logo" class="brand-img">
                        </div>
                    </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <!-- 2. Выбор модели -->
    {% if models %}
    <div class="section">
        <h2>Выберите модель</h2>
        <div class="grid">
            {% for model in models %}
            <div class="card">
                <a href="?brand={{ request.GET.brand }}&model={{ model.slug }}">
                    {{ model.name }}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if part_types %}
    <div class="section">
        <h2>Выберите тип запчасти</h2>
        <div class="grid">
            {% for slug, name in part_types %}
            <div class="card">
                <a href="?brand={{ request.GET.brand }}&model={{ request.GET.model }}&part_type={{ slug }}">
                    {{ name }}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <!-- 3. Выбор года -->
    {% if years %}
    <div class="section">
        <h2>Выберите год</h2>
        <div class="grid">
            {% for year in years %}
            <div class="card">
                <a href="?brand={{ request.GET.brand }}&model={{ request.GET.model }}&part_type={{ request.GET.part_type }}&year={{ year }}">
                    {{ year }}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <!-- 4. Запчасти -->
    {% if parts %}
    <div class="section">
        <h2>Запчасти</h2>

        <div class="grid">
            {% for part in parts %}
            <div class="card part-card">

                {% if part.image %}
                    <img src="{{ part.image.url }}" alt="part image" class="part-img">
                {% else %}
                    <div class="part-placeholder">Нет изображения</div>
                {% endif %}

                <div class="part-info">
                    <h3 class="part-title">{{ part.part_type.name }}</h3>

                    <ul class="part-meta">
                        <li><span>Бренд:</span> {{ part.brand.name }}</li>
                        <li><span>Модель:</span> {{ part.car_series.name }}</li>
                        <li><span>Год:</span> {{ part.year }}</li>
                        <li><span>Страна:</span> {{ part.made_in }}</li>
                        <li><span>Состояние:</span> {{ part.condition }}</li>
                        <li>
                            <span>Наличие:</span>
                            {% if part.availability %}
                                <span class="availab">В наличии</span>
                            {% else %}
                                <span class="not-availab">Нет</span>
                            {% endif %}
                        </li>
                    </ul>

                    <div class="price">{{ part.price }} $</div>
                </div>

            </div>
            {% empty %}
            <p>Запчастей не найдено</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}
