{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Auto Parts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'part/header.css' %}">


    {% block css %}
    {% endblock %}
</head>
<body>
<header>
    <div class="logo">Parts.kz</div>

<div class="search">
    <form method="get" action="{% url 'search_parts' %}" class="search-form">
        <input
            type="text"
            name="q"
            placeholder="Поиск запчастей..."
            value="{{ request.GET.q }}"
        >

        <button type="submit" class="search-btn" aria-label="Поиск">
            <svg class="search-icon" viewBox="0 0 24 24">
                <circle cx="11" cy="11" r="7"></circle>
                <line x1="16.5" y1="16.5" x2="22" y2="22"></line>
            </svg>
        </button>
    </form>
</div>
</header>
<main class="container">
    {% block content %}
    {% endblock %}
</main>

</body>
</html>